<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), articles_path %>

  <div class="header">
    <h1>Edit Article</h1>
  </div>
  
  <%= turbo_frame_tag "new_article_turbo_frame" do %>
    <%= render "form", article: @article %>
  <%end%>
</main>