<main class="container">
  <%= link_to sanitize("&larr; Back to articles"), articles_path,  data: { turbo_frame: "_top" } %>
    <div class="header">
      <h4>Add New Article</h4>
    </div>
  
    <%= render "form", article: @article %>
</main>