<main class="container">
  <%= link_to sanitize("&larr; Back to articles"), articles_path %>

  <%= turbo_frame_tag "second_frame" do %>
    <div class="header">
      <h4>New Article</h4>
    </div>
    
  
    <%= render "form", article: @article %>
  <%end%>
</main>