<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), articles_path %>
  <div class="header">
    <h1> <%= @article.title %> </h1>
    <p> <%= @article.description%> </p>
  </div>
</main>